* {
    padding: 0;
    margin: 0;
    text-decoration: none; 
    font-family: 'Spartan', sans-serif;
    color: White;
}

header {
    text-align: end;
    background-color: black;
    margin-bottom: 30px;
}

header .menu a {
    font-size: 12px;
    font-weight: 700;
    padding: 3px;

}

header .menu a:hover {
    color:#bf1b78;
    transition: 500ms;
}

body {
    background-image: linear-gradient(to bottom, #1a0524, #290d2e, #3b1136, #4d143c, #611741);
    height: 100vh;
}

section {
    text-align: center;
    
}

section h1 {
    font-size: 45px;
    font-weight: 900;
}

section h5 {
    font-size: 20px;
    font-weight: 900;
}

#arrow {
    font-size: 30px;
    cursor: pointer;
    animation: blink 1.2s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about {
    font-size:15px;
    width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
}

.form input {
    width: 40%;
    border:none;
    padding: 5px 5px;
    border-radius: 5px 0px 0px 5px;
    color:black;
}

.form button {
    width: 15%;
    border:none;
    padding: 5px 5px;
    cursor: pointer;
    margin-left: -5px;
    border-radius: 0px 5px 5px 0px;
    background: #ffbce2;
    color: black;
    transition: background-color 1s ease-out;
}

.form button:hover {
    background-color: #bf1b78;
    color:white;
}

@media only screen and (max-width:768px) {
    .form {
        width: 100%;
    }
}

@media only screen and (max-width:480px) {
    section h1 {
        font-size: 30px;
    }
    section h5 {
        font-size:15px;
    }
    #about {
        max-width: 90%;
        font-size: 12px;
    }
    
}

